<!DOCTYPE html>
<html>
<body>
<h2>Hello!</h2>
<button onclick="window.location.href='http://127.0.0.1:5090/inch2cm';">Inches to Centimeters</button>
<button onclick="window.location.href='http://127.0.0.1:5090/ft2m';">Feet to Meters</button>
<button onclick="window.location.href='http://127.0.0.1:5090/mi2km';">Miles to Kilometers</button>
<button onclick="window.location.href='http://127.0.0.1:5090/factorial';">Factorial</button>
<button onclick="window.location.href='http://127.0.0.1:5090/statapp';">Statistics Application</button>
</body>
</html>
